<h2>Party list</h2>
<% @parties.each do |party| %>
  <%= party.name %>
  <%= party.description %>
  <%= party.location %>
  <%= party.date_time %>
  <%= party.dress_code %>
  <%= party.host %>
<% end %>

<%= link_to "Log Out", logout_path, :method => :delete %>