<h1>My Party</h1>
<div class="boxed">
Party Name: <%= @party.name %><br>
Description: <%= @party.description %><br>
Location: <%= @party.location %><br>
Date & Time: <%= @party.date_time %><br>
Dress Code: <%= @party.dress_code %><br>
Hosted by: <%= @party.host.name %>
</div>