
<div class="boxed">
Party Name: <%= @party.name %><br>
Description: <%= @party.description %><br>
Location: <%= @party.location %><br>
Date & Time: <%= @party.date_time %><br>
Dress Code: <%= @party.dress_code %><br>
Hosted by: <%= @party.host.name %>
</div>

<%= link_to "Back to Party List", parties_path %>

<% if user_type == "Host" && @party.host == current_user && @party != nil %>
  <%= link_to "Edit Party", edit_host_party_path(@party) %>
<% end %>

<% if user_type == "Host" && @party.host == current_user && @pqrty != nil %>
  <%= form_tag party_path(@party), method: "delete" do %>
    <%= submit_tag "Delete Party" %>
  <% end %>
<% end %>

<% if user_type == "Guest" && !@party.guests.include?(current_user) %>
  <%= link_to "Join this party!", new_party_invite_path(@party) %>
<% end %>

