<h2>Log In</h2>

<%= form_with(model: @account, local: true) do |f| %>
<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

    <%= f.submit "Log In" %>
  <% end %>