<h2><%= "#{@host.name}" %>'s Page</h2>

<% @parties.each do |party| %>
<div class="boxed">
  <ul>
    <li>Party Name: <%= link_to "#{party.name}", party_path(party.id) %></li><br>
    <li>Description: <%= party.description %></li><br>
    <li>Location: <%= party.location %></li><br>
    <li>Date & Time: <%= party.date_time %></li><br>
    <li>Dress Code: <%= party.dress_code %></li><br>
  </ul>
<% end %>

<% if user_type == "Host" && @host == current_user %>
  <%= link_to "Edit Party", edit_host_party_path(@host, @party.id) %>
<% end %>

<% if user_type == "Host" && @host == current_user %>
  <%= form_tag party_path(@party.id), method: "delete" do %>
    <%= submit_tag "Delete Party" %>
  <% end %>
<% end %>   
</div>

<%= link_to "Back to Party List", parties_path %>