<% if !logged_in? %>
  <h1>Welcome to Party Planner!</h1>
  <h3>Sign up or Log In</h3>
<% end %>

<% if logged_in? %>

<% if user_type == "Host" %>
  <%= link_to "My Page", host_path(current_user.id) %>
<% end %>

<% if user_type == "Guest" %>
  <%= link_to "My Page", guest_path(current_user.id) %>
<% end %>

  <% @parties.each do |party| %>
  <div class="boxed">
    <ul>
      <li>Party Name: <%= link_to "#{party.name}", party_path(party.id) %></li>
      <li>Description: <%= party.description %></li>
      <li>Location: <%= party.location %></li>
      <li>Date & Time: <%= party.date_time %></li>
      <li>Dress Code: <%= party.dress_code %></li>
      <li>Hosted by: <%= link_to "#{party.host.name}", host_path(party.host.id) %></li>
    </ul>
  </div>
  <% end %>
<% end %>