<h1>New Account</h1>

<%= form_with(model: @account, local: true) do |f| %>
<div class="radio">
    Are you sign up as a host or a guest?
    <br />
    <%= f.label :host %>
    <%= f.radio_button :accountable_type, 'Host' %>
    <%= f.label :guest %>
    <%= f.radio_button :accountable_type, 'Guest' %>
</div>
<br>
<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

    <%= f.submit %>
  <% end %>
